*{
  font-family:sans-serif

}
body{
    background-color:rgb(235, 235, 235);
}
.wrapper{
    /* width: 800px; */
    /* height: 580px; */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    /* text-align: center; */
   
}
.bg-wrapper{
  background-color: white;
  width: 900px;
  height: 400px;
  border-radius: 15px;
  /* display: flex; */
  /* justify-content: center;
  align-items: center; */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 8px 16px rgba(0, 0, 0, 0.1);
}

.wrapper .bg-wrapper .logo-section h3{
  font-size: 35px;
  color:rgb(71, 71, 253);
  margin-left: 30px;
  
}

.wrapper .bg-wrapper .logo-section h1{
  margin-left: 30px;
  font-size: 36px;
}

.wrapper .bg-wrapper .logo-section p{
  margin-left: 30px;
}

